{% extends './base/base.html' %}

{% block nombreu %}
    {% from "my_macro.html" import render_field %}
    <form name="sentWord" id="contactForm" method="POST">
        <div class="row control-group">
            {{ render_field(form.cadena, class="form-control") }}
        </div>
        <br>
        <button type="submit" class="boton">EVALUAR</button>
    </form>
{% endblock %}

{% block messa %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    
    {% endwith %}
            
{% endblock %}