.text-center{
  text-align: center;
  }

.text-white{
  color: azure;
  font-size: 20px;
}

h1{
  color: azure;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Nova Mono', monospace;
}

.head{
  background:url("http://fondopantalla.com.es/file/1736/600x338/16:9/wallpaper-flora-sencillo-azul_261543170.jpg");  
  background-size:cover;
  height:170px;
  width: 100%;
  text-align: center;

}
.box {
  display: flex;  
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Nova Mono', monospace;
  font-size: 18px;
}

/* .formulario{
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
} */

.boton{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}

.boton:hover{
  color: #1883ba;
  background-color: #ffffff;
  
}
